* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

body {
    max-width: 50rem;
    margin: auto;
}

legend {
    font-size: 2rem;
}

label {
    margin: 1rem 0 0.6rem 0;
}

input {
    height: 2.5rem;
    border-color: #ddd;
    border-radius: 0.2rem;
    border-width: 0.1rem;
    border-style: solid;
}

textarea {
    border-color: #ddd;
    border-radius: 0.2rem;
    border-width: 0.1rem;
    border-style: solid;
}

.formarea {
    display: flex;
    flex-direction: column;
    margin: 4rem 1rem;
    background-color: #f5f5f5;

    border-color: #ddd;
    border-radius: 0.2rem;
    border-width: 0.1rem;
    border-style: solid;
}

.form-element {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

#submitbutton {
    color: #fff;
    background-color: #6495ed;
    border: none;
    margin: 2rem 0 1rem 0;
}

.legendarea {
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-color: #ddd;
    border-width: 0.1rem;
    border-style: solid;
    padding: 1.5rem 1rem;
    position: relative;
    top: -2.5rem;
    align-self: flex-start;
    margin: 0 1rem -2rem 1rem;
}

@media only screen and (min-width: 25rem) {
    .inputs {
        display: flex;
        justify-content: space-between;
    }
    .inputs .form-element {
        width: 100%;
        min-width: 0%;
    }
    #submitbutton {
        width: 8rem;
    }
}
@media only screen and (min-width: 40rem) {
    .inputs .form-element {
        width: 100%;
        max-width: 100%;
    }
}
